@import "../_snowpack/pkg/tailwindcss/dist/base.css";
@import "../_snowpack/pkg/tailwindcss/dist/components.css";
@import "../_snowpack/pkg/tailwindcss/dist/utilities.css";

    .card {
      background-color: theme('colors.white');
      border-radius: theme('borderRadius.lg');
      padding: theme('spacing.6');
      box-shadow: theme('boxShadow.xl');
    }
    /* ... */
  